parameters:
    level: 8
    phpVersion: 80400
    paths:
        - Classes
        - Configuration
        - Tests
        - ext_localconf.php
    tmpDir: .Build/.phpstan.cache
    checkMissingOverrideMethodAttribute: true
    typo3:
        requestGetAttributeMapping:
            route: TYPO3\CMS\Backend\Routing\Route|null
