<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<fieldset class="typo3-adminPanel-form-group">
    <div class="typo3-adminPanel-form-group-checkbox">
        <input type="hidden" name="TSFE_ADMIN_PANEL[agentation_enabled]" value="0" />
        <input type="checkbox"
               id="agentation_enabled"
               name="TSFE_ADMIN_PANEL[agentation_enabled]"
               value="1"
               {f:if(condition: enabled, then: 'checked="checked"')} />
        <label for="agentation_enabled">
            <f:translate key="LLL:EXT:agentation/Resources/Private/Language/locallang.xlf:adminpanel.enabled" />
        </label>
    </div>
</fieldset>

<fieldset class="typo3-adminPanel-form-group">
    <label for="agentation_position" class="typo3-adminPanel-form-label">
        <f:translate key="LLL:EXT:agentation/Resources/Private/Language/locallang.xlf:adminpanel.position" />
    </label>
    <select id="agentation_position"
            name="TSFE_ADMIN_PANEL[agentation_position]"
            class="typo3-adminPanel-form-select">
        <f:for each="{positions}" as="p">
            <option value="{p}" {f:if(condition: '{p} == {position}', then: 'selected="selected"')}>{p}</option>
        </f:for>
    </select>
</fieldset>

<fieldset class="typo3-adminPanel-form-group">
    <label for="agentation_scope" class="typo3-adminPanel-form-label">
        <f:translate key="LLL:EXT:agentation/Resources/Private/Language/locallang.xlf:adminpanel.scope" />
    </label>
    <select id="agentation_scope"
            name="TSFE_ADMIN_PANEL[agentation_scope]"
            class="typo3-adminPanel-form-select">
        <f:for each="{scopes}" as="s">
            <option value="{s}" {f:if(condition: '{s} == {scope}', then: 'selected="selected"')}>
                <f:translate key="LLL:EXT:agentation/Resources/Private/Language/locallang.xlf:adminpanel.scope.{s}" />
            </option>
        </f:for>
    </select>
</fieldset>

<f:if condition="!{apiKeySet}">
    <p class="typo3-adminPanel-form-note">
        <f:translate key="LLL:EXT:agentation/Resources/Private/Language/locallang.xlf:adminpanel.noApiKey" />
    </p>
</f:if>

</html>
