<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="!{contextAllowed}">
    <div class="typo3-adminPanel-message typo3-adminPanel-message-info">
        <div class="typo3-adminPanel-message-text">
            <f:translate key="adminpanel.blockedByContext" domain="agentation.messages" languageKey="{languageKey}" />
        </div>
    </div>
</f:if>

<div class="typo3-adminPanel-table-overflow">
    <table class="typo3-adminPanel-table typo3-adminPanel-table-debug">
        <thead>
            <tr>
                <th scope="col" class="typo3-adminPanel-table-cell-key"><f:translate key="adminpanel.column.setting" domain="agentation.messages" languageKey="{languageKey}" /></th>
                <th scope="col"><f:translate key="adminpanel.column.value" domain="agentation.messages" languageKey="{languageKey}" /></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="typo3-adminPanel-table-cell-key"><f:translate key="adminpanel.status" domain="agentation.messages" languageKey="{languageKey}" /></th>
                <td><f:translate key="{f:if(condition: enabled, then: 'adminpanel.status.on', else: 'adminpanel.status.off')}" domain="agentation.messages" languageKey="{languageKey}" /></td>
            </tr>
            <tr>
                <th scope="row" class="typo3-adminPanel-table-cell-key"><f:translate key="adminpanel.position" domain="agentation.messages" languageKey="{languageKey}" /></th>
                <td><f:translate key="adminpanel.position.{position}" domain="agentation.messages" languageKey="{languageKey}" /></td>
            </tr>
            <tr>
                <th scope="row" class="typo3-adminPanel-table-cell-key"><f:translate key="adminpanel.scope" domain="agentation.messages" languageKey="{languageKey}" /></th>
                <td><f:translate key="adminpanel.scope.{scope}" domain="agentation.messages" languageKey="{languageKey}" /></td>
            </tr>
            <tr>
                <th scope="row" class="typo3-adminPanel-table-cell-key"><f:translate key="adminpanel.sync" domain="agentation.messages" languageKey="{languageKey}" /></th>
                <td><f:translate key="{f:if(condition: cloudMode, then: 'adminpanel.sync.cloud', else: 'adminpanel.sync.local')}" domain="agentation.messages" languageKey="{languageKey}" /></td>
            </tr>
            <f:if condition="{workspaceId}">
                <tr>
                    <th scope="row" class="typo3-adminPanel-table-cell-key"><f:translate key="adminpanel.project" domain="agentation.messages" languageKey="{languageKey}" /></th>
                    <td><code>{workspaceId}</code></td>
                </tr>
            </f:if>
        </tbody>
    </table>
</div>

<p>
    <a href="{backendModuleUrl}" target="_blank" rel="noopener noreferrer">
        <f:translate key="adminpanel.openBackendModule" domain="agentation.messages" languageKey="{languageKey}" />
    </a>
</p>

</html>
